@charset "UTF-8";
/* Responsive Setup */

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

/* CSS */

html, body{
	font-family: oswald,sans-serif;
	width: 100%;
	color: #fff;
	background-color: gray;
}

.logo{
	width: 25%;
	margin-left: 35%;
	margin-top: 5%;
}

h1, 
.main,
.copyright{
	width: 90%;
	margin: 1rem auto;
	font-family: 'oswald', sans-serif;
	font-size: 30px;
	margin-left: 10%;
}

h2{
 font-family:'lato', sans-serif;
 font-weight:300px;
 position: fixed;
 float: right;
}

h3{
	margin-right: 30%;
	font-family:'oswald', sans-serif;
}

.why{
	font-family: 'oswald', sans-serif;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
}

img{
	width: 100%;
}

.hide-text {
text-indent: 100%;
white-space: nowrap;
}


/* Info */

.nav-top{
	display: none;
}

.nav-top[data-state="expanded"]{
	display: block;
}

* {
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

.img-project{
	margin-bottom: 5%;
}

/* Social Icons */
section{
  width: 400px;
  margin: 0 auto;
}

.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.ease-all{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.social{
	height: 10rem;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	text-align: center;
}

.social li a{
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 1rem;
	text-align: center;
	padding-top: 13px;
	
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	
	/*background-color: #222;*/
	-webkit-box-shadow: inset 0 0 0 40px #222;
	-moz-box-shadow: inset 0 0 0 40px #222;
	-o-box-shadow: inset 0 0 0 40px #222;
	-ms-box-shadow: inset 0 0 0 40px #222;
	box-shadow: inset 0 0 0 40px #222;
	color: #fff;
}

.social li a:hover{
	-webkit-box-shadow: inset 0 0 0 3px #222;
	-moz-box-shadow: inset 0 0 0 3px #222;
	-o-box-shadow: inset 0 0 0 3px #222;
	-ms-box-shadow: inset 0 0 0 3px #222;
	box-shadow: inset 0 0 0 3px #222;
	color: #222;
}

@media only screen and (min-width: 25em){



@media only screen and (min-width: 30em){


@media only screen and (min-width: 35em){
	

@media only screen and (min-width: 40em){


@media only screen and (min-width: 45em){


@media only screen and (min-width: 50em){

