@charset "UTF-8";
/* CSS Document */

body {
	background-color:#666;
	background-repeat:repeat;
	min-width: 768px;
	font-size: 100%;
	line-height: 1.5em;
	color: #FFF;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.placeholder {
	clear:both;
	width:100%;
	float:inherit;
	margin:7rem 0 1.5rem 0;
}

.social-media{
	float:left;
	margin:25px 0px 20px 40px;
	width: 50px;
	height:50px;
}

.baseline {
	background-image:url(../images/baseline.svg);
}

.column {
	background-image:url(../images/column.svg);
}

p {
	margin-bottom: 1.5rem;
}

p:last-child {
	margin-bottom: 0;
}

/* --------------------------------------------------------------------- Masthead(Left) */

h1, h2, h3, h4, h5, h6{
	font-weight:400;	
}

h1{
	background-color:#000;
	height: 7rem;
	line-height: 7rem;
	font-size:6.5rem;
	color:#FFF;
	text-align:center;
	
}

.content2{
	position:relative;
}

.project-title{
	background-color:#000;
	height: 5rem;
	line-height: 5rem;
	font-size:2.5rem;
	color:#FFF;
	padding:0px 30px;
	float:left;
	font-weight:400;
	position:absolute;
	top:55px;
	left:50px;
}

#content3 p{
	margin-top:40px;	
}

.copyright{
	margin: 0px 30px 0px 20px;
	font-weight:300;
	font-size:80%;
	color:#000;
	text-align:center;
}

.project-image{
	clear:both;
	width:100%;
	float:inherit;
	
}

.project-description{
	background:#333;
	position:absolute;
	bottom:20px;
	right:50px;
	padding:20px;
	width:500px;
}

.left {
	width: 2.14%;
	background-color:#FFF;
	height: 100%;
	position: fixed;
	min-width: 230px;
	font-size:100%;
}

.logo {
	margin:60px 0px 45px 10px;
	width: 188px;
	height: 234px;
}

.nav {
	font-size:24px;
	line-height:5.5em;
	background-color:#666;
	text-align:center;
	width:230px;
	height:60px;
	line-height:60px;
	margin-bottom:40px;
	}

.nav a{
	color:#333;
	text-decoration: none;	
	font-weight:400;
}
.nav a:hover{
	color:#000;
}
/* --------------------------------------------------------------------- Content (Right) */
.wrapper {
	width: 83.6%;
	margin-left: 16.4%;
	padding: 1.5rem 10.25%;
}

#content1, 
.content2,
#content3 {
	clear:both;
	padding: 6rem 10.25%;
}
/*-----------fotter*/
.bottom {
	color:#00C;
	font-size:36px;
	position:absolute;
	background-color:#000;
	height: 4.5rem;
	margin-bottom: 1rem;
	width: 100%;
	bottom: 0;
}